[font]
  # normal = {family = "JetBrainsMono NF" ,style = "Regular"}
  # bold = {family = "JetBrainsMono NF" ,style = "Bold"}
  # italic  = {family = "JetBrainsMono NF" ,style = "Italic "}
  # bold_italic  = {family = "JetBrainsMono NF" ,style = "Bold Italic "}

  # normal = {family = "Fira Code" ,style = "Regular"}
  # bold = {family = "Fira Code" ,style = "Bold"}
  # italic  = {family = "Fira Code" ,style = "Italic "}
  # bold_italic  = {family = "Fira Code" ,style = "Bold Italic "}
  # normal = {family = "Fira Code" ,style = "Regular"}
  # size = 18
  normal = {family = "Monaco" ,style = "Regular"}
  bold = {family = "Monaco" ,style = "Bold"}
  italic  = {family = "Monaco" ,style = "Italic "}
  bold_italic  = {family = "Monaco" ,style = "Bold Italic "}
  size = 18

[window]
  dimensions = {columns = 110 , lines = 25}

[keyboard]
bindings = [
  { key = "N", mods = "Control | Shift", action = "CreateNewWindow" },
  #CSI u 扩展键盘协议； Shift+Enter, Ctrl+Enter
  #Nvim 、Pi agent 支持识别其为Shift+Enter, Ctrl+Enter；general multi-line
  { key = "Return", mods = "Control", chars = "\u001b[13;5u" },
  { key = "Return", mods = "Shift", chars = "\u001b[13;2u" },
  # 显式发送 Ctrl+Shift+M，使用自定义序列避免歧义
  { key = "M", mods = "Control | Shift", chars = "\u001b[5;30012~" },
]

# Colors (Nord)

# Default colors
[colors.primary]
background = '0xfafafa'
foreground = '0x383a42'

# Normal colors
[colors.normal]
black = '0x383a42'
red = '0xe45649'
green = '0x50a14f'
yellow = '0xc18401'
blue = '0x0184bc'
magenta = '0xa626a4'
cyan = '0x0997b3'
white = '0xfafafa'

# Bright colors
[colors.bright]
black = '0x383a42'
red = '0xe45649'
green = '0x50a14f'
yellow = '0xc18401'
blue = '0x0184bc'
magenta = '0xa626a4'
cyan = '0x0997b3'
white = '0xfafafa'

[env]
  WINIT_X11_SCALE_FACTOR = "1.2"
