[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = true    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    syntax-theme = "Monokai Extended Light"

[merge]
    ; conflictstyle = diff3[user]
	name = zhenghe
	email = zhenghe@kaopuyun.com

[core]
	editor = nvim

[diff]
    colorMoved = default
	tool = nvimdiff

[difftool]
	prompt = false

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[alias]
	d = difftool
[user]
	name = zhenghe
	email = zhenghe@kaopuyun.com

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = true
