__pycache__/
ranger/plugins
linux_rime/build
linux_rime/sync
linux_rime/pinyin_simp.userdb
linux_rime/user.yaml
.env

.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v4/
.pi/todos
**/node_modules/
/.worktree/
