[Unit]
Description=Battery low notify
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
PassEnvironment=DBUS_SESSION_BUS_ADDRESS DISPLAY XDG_RUNTIME_DIR
ExecStart=%h/.local/bin/battery-notify.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
