[Unit]
Description=Battery low notify

[Service]
Type=simple
PassEnvironment=DBUS_SESSION_BUS_ADDRESS DISPLAY XDG_RUNTIME_DIR
ExecStart=%h/.local/bin/battery-notify.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
